extends layout 


block main-content 
  div.content
    h1.page-title Search Recipes
    form(method="post", action="/")
        div
            label(for="ingreds") Ingredients:
            input(type="text", id="ingreds", name="ingredients", placeholder="")
        div
            label(for="Number") Number:
            input(type="number", min="2", id="numItem", name="numRecipe")
        button(type="submit", value="submitForm") Submit
    