extends layout 


block main-content 
  -
    //You can overwrite the main-content block by writing block content
    //in the template file which is extending.
  h1.page-title Hello! Here's a list of recommended recipes
  ul 
    each movie in movieList.results 
      li 
        a(href=`${movie.image}`) #{movie.title} (#{movie.id})