extends layout 

block main-content 
    div.content
        table
            thead
                tr
                    th Title
                    th Year
            tbody
                each show in movielist
                    tr
                        td #{href="https://imdb.com/title/show.ids.imdb"}
                        td #{show.year}